body, ul {
margin: 0;
padding: 0;
}
#header{

    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5b5d5f;
    
    
}
#logo{
    font-size: 1.5rem;
    font-weight: bolder;
    
}
#menu{
    display: flex;
    list-style: none;
    gap: .7rem;
    
    
}
#menu a{
    display: block;
    padding: .5rem;
}
a {
    color: #f0f8ff;
    text-decoration: none;
    font-family: sans-serif;
    }
a:hover{
        background:rgba(0, 0, 0, .3);
       padding: .5rem;
    }

#btn-mobile{
    display: none;
  color:rgb(231, 231, 238);

    }
    #btn-mobile:hover{
background: rgba(0, 0, 0, .3);
padding: .5rem;
    }

    @media (max-width: 600px) {
     #btn-mobile {
        display: block;
    }
     #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background:#5b5b5f; 
       height: 0;
       transition: .6s;
        z-index: 1000;       
    }

    #nav.active #menu {
        height: calc(100vh - 75px);
    }
    menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: ;
    }
    }