body ,ul{
margin: 0;
padding: 0;
}
#logo {
    font-size: 1rem;
    font-weight: bolder;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
    background-color: #5b5d5f;
    
    
}


#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    
    
}
#menu a{
    display: block;
    padding: .5rem;
}
a {
    color: #161616;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    }
a:hover{
        background:rgba(0, 0, 0, .3);
       padding: .5rem;
    }

#btn-mobile{
    display: none;
  color:rgb(231, 231, 238);

    }

    @media (max-width: 600px) {
     #btn-mobile {
        display: block;
    }
     #menu{
        display: block;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background:#bcbcc0; 
       height: 0;
       transition: .6s;
        z-index: 1000; 
        visibility: hidden;      
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 75px);
        visibility:visible;
        overflow-y: auto;
    }
    #menu a {
        padding:  1rem 0;
        margin: 0 1rem;
        border-bottom: 3px solid rgba(240, 233, 233, 0.3);
    
    }
    }